.workflow-list {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 1rem;

  &::-webkit-scrollbar {
    width: 0.8rem;

    &-thumb {
      background-color: $surface-mixed-200;
      border-radius: 1rem;
    }
  }

  &__item {
    width: 100%;
    height: 6rem;
    min-height: 6rem;
    background-color: $surface-200;
    border-radius: 1.8rem;
    padding: 1rem 2rem;
    border: none;
    text-align: left;
    position: relative;

    &--add {
      background-color: $surface-mixed-200;
      text-align: center;
    }

    &:hover {
      background-color: $surface-mixed-300;

      .workflow-list__item__delete {
        display: flex;
      }
    }

    &--active {
      background-color: $surface-mixed-400;
    }

    &__title {
      width: 20rem;
      font-size: 1.4rem;
      font-weight: 500;
      color: $text-100;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__desc {
      width: 20rem;
      font-size: 1.2rem;
      font-weight: 400;
      color: $text-200;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__delete {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 2.5rem;
      background-color: $error-100;
      border: none;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}
