/** SCSS DARK THEME PRIMARY COLORS */
$primary-100: #1e90ff;
$primary-200: #519bff;
$primary-300: #6fa7ff;
$primary-400: #88b3ff;
$primary-500: #9fbfff;
$primary-600: #b3ccff;
/** SCSS DARK THEME SURFACE COLORS */
$surface-100: #00081a;
$surface-200: #1c222f;
$surface-300: #343945;
$surface-400: #4e525d;
$surface-500: #696c76;
$surface-600: #858890;
/** SCSS DARK THEME MIXED SURFACE COLORS */
$surface-mixed-100: #0a182c;
$surface-mixed-200: #222d40;
$surface-mixed-300: #3b4356;
$surface-mixed-400: #545b6c;
$surface-mixed-500: #6e7483;
$surface-mixed-600: #8a8e9a;

$text-100: #ffffff;
$text-200: #e6e6e6;
$text-300: #cccccc;
$text-400: #b3b3b3;
$text-500: #999999;
$text-600: #808080;
$text-700: #666666;
$text-800: #4d4d4d;
$text-900: #333333;

$success-100: #00ff00;
$success-200: #4dff4d;
$success-300: #80ff80;

$warning-100: #ffff00;
$warning-200: #ffff4d;
$warning-300: #ffff80;

$error-100: #ff0000;
$error-200: #ff4d4d;
$error-300: #ff8080;
$error-400: #ff9999;
/** EXAMPLES */
//color: $surface-600;
//background-color: $primary-300;
